* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

:root {
  --color-primary: #2f80ed;
  --color-white: #fff;
  --color-black: #000;
  --color-secondary: #2684ff;
  --color-paragraph: #718096;
  --color-heading3: #2d3748;
}

body {
  color: #fff;
  font-size: 1.2rem;
}

.header {
  width: 23rem;
  height: 100vh;
  position: fixed;
  background-color: #111111;
}

.main-content {
  margin-left: 23rem;
  min-height: 100vh;
}

.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.nav-items li {
  padding: 0.7rem 0;
  border-bottom: 1px solid #c4c4c418;
}

.nav-items li a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding: 0.2rem 0;
  transition: all 0.4s ease-in-out;
}

.nav-items li a:hover {
  color: var(--color-primary);
}

.nav-icons {
  display: flex;
  align-items: center;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons img {
  cursor: pointer;
}

/* Hero Styles */
.hero-section {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.648)
    ),
    url(./img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section p {
  color: var(--color-white);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar img {
  border-radius: 50%;
  width: 60%;
  border: 8px solid #11111136;
}

.hero-text {
  text-align: center;
}

.hero-text span {
  color: var(--color-secondary);
}

.hero-text h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

.hero-text p {
  font-weight: 500;
}

.mouse {
  width: 1.7rem;
  height: 2.5rem;
  border: 2px solid var(--color-white);
  border-radius: 30px;
  position: absolute;
  bottom: 4%;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  background-color: var(--color-white);
  left: 50%;
  top: 70%;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: upDown 2s infinite;
}

/* dot animation */
@keyframes upDown {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-15px) translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateY(0) translateX(-50%) scale(1);
  }
}

/* About Section */
span {
  color: var(--color-primary);
}

p {
  color: var(--color-paragraph);
}

.about-section {
  min-height: 100vh;
  background-color: var(--color-white);
  padding: 7rem 5rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 2.2rem 0;
}

.about-container .abt-img {
  width: 45%;
  border-radius: 25px;
  object-fit: cover;
}

.main-title p {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.main-title h3 {
  color: var(--color-heading3);
  font-size: 2.5rem;
}

.right-about-sect {
  padding-left: 4rem;
}

.right-about-sect h5 {
  color: var(--color-black);
  font-size: 2rem;
}

.right-about-sect p {
  padding: 1rem 0;
}

.icons-text p {
  padding: 0;
  margin-left: 4rem;
}

.icons-data p {
  margin-left: 1rem;
}

.icons-text {
  display: flex;
  align-items: center;
}

.icons-text ul li {
  padding: 0.4rem 0;
}

.icons-data li {
  display: flex;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  font-family: inherit;
  font-size: 1.3rem;
  color: var(--color-white);
  border-radius: 7px;
  margin-right: 1rem;
}

.button-container {
  margin-top: 3rem;
}
